.container {

  .card {
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 25px;
    background-color: #121212;
    border-radius: 10px;
    box-shadow: 0 8px 20px 15px #00000033;

    ion-item {
      width: 100%;
      --border-radius: 10px
    }

    img {
      width: 250px;
      height: 250px;
    }

    .result {
      width: 60%;

      h1 {
        margin: 0;
        font-weight: 400;

        span {
          margin-left: 10px;
          font-weight: bold;
        }
      }
    }
  }
}
