<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="card">
      <ion-item>
        <ion-label position="floating">Tamanho</ion-label>
        <ion-input [(ngModel)]="input" placeholder="Insira o tamanho do dado"></ion-input>
      </ion-item>
      <img [src]="dadoStatic">
      <div class="result">
        <h1>Valor do Dado: <span>{{ value }}</span></h1>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="btn" (click)="playDado()">
    <ion-title class="ion-text-center title">Jogar Dado!</ion-title>
  </ion-toolbar>
</ion-footer>
